# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff
db.sqlite3
*.log

# Media
/media/

# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
